<html>
<head>
  <title>Welcome to my Website</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <%- include('partials/header', { activePage: 'home' }) %>
  </header>

  <div class="separator" style="margin-top: 0px; margin-bottom: 0px;"></div>
  <!-- Other content -->
  <div class="container">
    <div class="main-content" style="display: flex; justify-content: center; align-items: center; text-align: center;">
      <p></p>
      <table style="margin-top: 10px; height: 90%; width: 80%; color: #fdfcfc;">
        <thead>
          <tr>
            <th style="width: 25%;">Contact Name</th>
            <th style="width: 25%;">Contact Age</th>
            <th style="width: 25%;">Contact Major</th>
            <th style="width: 25%;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of students; let i = index">
            <td style="width: 25%;">{{ contact.name }}</td>
            <td style="width: 25%;">{{ contact.age }}</td>
            <td style="width: 25%;">{{ contact.major }}</td>
            <td style="width: 25%;">
              <button type="Delete">Delete</button>
              <button type="Edit">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer> 
    <%- include('partials/footer', { activePage: 'home' }) %>    
  </footer>
</body>
</html>
