.container {
    margin-top: 20px;
    display: flex;
  }


  .main-content {
    width: 70%;
    background-color: rgba(242, 238, 238, 0.604);
    border-radius: 15px;
    margin-top: 20px;
    height: 408px;
    margin: 0 auto; /* Center the layer horizontally */
    color: #f8f6f6;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }    

  .user-content {
    width: 400px;
    background-color: rgba(181, 178, 178, 0.604);
    border-radius: 15px;
    height: 250px;
    text-align: left;
  }    

  .user-content button {
    margin: 20px auto; /* Center the buttons horizontally */
  }

  .main-content {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
    text-align: center;
    margin-top: 5px;
    
  }
  
  .column:last-child {
    margin-right: 0;
    margin-top: 40px;
  }

  form {
    margin-top: 20px;
    margin-left: 20px;
    line-height: 15px;
  }

  form label {
    display: block;
    margin-bottom: 5px;
  }

  form input,
  form textarea {
    margin-bottom: 10px;
  }

  form button {
    margin-top: 10px;
    width: 100px;
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-row label {
    margin-right: 10px;
  }

  